<div class="tutorial-example">

{{! BEGIN-SNIPPET better-syntax-10.hbs }}
  <button class="button" onclick={{perform findStores}}>
    Find Nearby Stores
    {{#if findStores.isRunning}}
      {{loading-spinner}}
    {{/if}}
  </button>

  {{#if result}}
    <ul>
      {{#each result.stores as |s|}}
        <li>
          <strong>{{s.name}}</strong>:
          {{s.distance}} miles away
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{! END-SNIPPET }}
</div>
