<div class="font-sans text-black leading-normal">
  {{#docs-header as |header|}}
    {{#header.link 'api'}}
      API
    {{/header.link}}
  {{/docs-header}}

  {{outlet}}

  {{docs-keyboard-shortcuts}}
  {{ember-notify}}
</div>
