<h2>Accelerating Increment / Decrement Buttons</h2>

<p>
  This example demonstrates a few different concepts:
</p>

<ul>
  <li>Tricky time-based operations like acceleration are simplified
      by the sequential style of task functions</li>
  <li>
    You can use <code>(perform taskName)</code> in place of anywhere you
    might want to use a classic Ember action.
  </li>
</ul>

<h4>Live Example</h4>

<h1>Num: {{count}}</h1>

<p>(Hold down the buttons to accelerate.)</p>

{{! BEGIN-SNIPPET press-and-hold-buttons.hbs }}
<p>
  {{#press-and-hold-button
    press=(perform incrementBy -1)
    release=(cancel-all incrementBy)}}
      --Decrease
  {{/press-and-hold-button}}

  {{#press-and-hold-button
    press=(perform incrementBy 1)
    release=(cancel-all incrementBy)}}
      Increase++
  {{/press-and-hold-button}}
</p>
{{! END-SNIPPET }}

<h4>JavaScript (task)</h4>

{{docs-snippet name="increment-button-task.js"}}

<h4>JavaScript (button component)</h4>

{{docs-snippet name="increment-button.js"}}

<h4>Template</h4>

{{docs-snippet name="press-and-hold-buttons.hbs"}}

