<h2>Accelerating Increment / Decrement Buttons</h2>

<p>
  This example demonstrates a few different concepts:
</p>

<ul>
  <li>Tricky time-based operations like acceleration are simplified
      by the sequential style of task functions</li>
  <li>
    You can use <code>(perform taskName)</code> in place of anywhere you
    might want to use a classic Ember action.
  </li>
</ul>

<h4>Live Example</h4>

{{#docs-demo as |demo|}}
  {{#demo.example name='press-and-hold-buttons.hbs'}}
    <h3>Num: {{count}}</h3>

    <p>(Hold down the buttons to accelerate.)</p>

    {{#press-and-hold-button
      class="button"
      press=(perform incrementBy -1)
      release=(cancel-all incrementBy)}}
        --Decrease
    {{/press-and-hold-button}}

    {{#press-and-hold-button
      class="button"
      press=(perform incrementBy 1)
      release=(cancel-all incrementBy)}}
        Increase++
    {{/press-and-hold-button}}
  {{/demo.example}}

  {{demo.snippet "increment-button-task.js" label='controller.js'}}
  {{demo.snippet "increment-button.js" label='component.js'}}
  {{demo.snippet "press-and-hold-buttons.hbs" label='template.hbs'}}
{{/docs-demo}}
